.page {
  display: flex;
  min-height: calc(100vh - 9rem);
  align-items: center;
  justify-content: center;
  font-family: var(--font-geist-sans);
  background-color: var(--background);
}

.main {
  display: flex;
  min-height: calc(100vh - 9rem);
  width: 100%;
  max-width: 1200px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background-color: var(--background);
  padding: 120px 60px;
}

.main a {
  color: var(--link);
}

.main a:hover {
  color: var(--link-hover);
}

a.primary {
  background: var(--text-primary);
  color: var(--background);
  gap: 8px;
}

a.secondary {
  border-color: var(--button-secondary-border);
}

.section {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  margin-bottom: 2.8rem;
}

.section h2 {
  font-size: 1.5rem;
  margin-bottom: 1.2rem;
  display: flex;
  align-items: center;
  gap: .6rem;
  color: var(--text-primary);
}

.section h2 svg {
  color: var(--accent);
}

@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }
}

@media (max-width: 600px) {
  .main {
    padding: 48px 24px;
  }
}
